.profile {

  .user-header {
    height: 200px;
    background: $color-light-gray;
    text-align: center;
    padding-top: 30px;
  }

  .capitalize {
    text-transform: capitalize;
  }

  img {
    margin-bottom: 10px;
    width: 80px;
    border-radius: 50%;
  }

  h3 {
    font-weight: lighter;
  }

}
